<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cprofile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <form action="/profcsubmit/<%= un %>" method="post">
        <h1>Welcome, Lets create your profile</h1>
        
        <ul >
            
            

            <li>
                <h2>
                  <label for="name">Enter name</label>
                  <textarea name="name  " 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>
              <li>
                <h2>
                  <label for="email">Enter email</label>
                  <textarea name="email" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>
              <li>
                <h2>
                  <label for="Education">Enter Education</label>
                  <textarea name="Education" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>
              <li>
                <h2>
                  <label for="workexp">Enter Your work Experience</label>
                  <textarea name="workexp" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>
              <li>
                <h2>
                  <label for="tr">previous courses and trainings you have completed</label>
                  <textarea name="tr" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>

              <li>
                <h2>
                  <label for="projects">Projects you have worked on</label>
                  <textarea name="projects" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>

              <li>
                <h2>
                  <label for="skills">Enter your skills</label>
                  <textarea name="skills" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>

              <li>
                <h2>
                  <label for="pw">Enter your work samples/portfolio</label>
                  <textarea name="pw" 
                                placeholder="" 
                                cols="40" rows="3"
                                title=""
                                autofocus> 
               </textarea> 
                </h2>
              </li>

              

        </ul>
        <button type="text" class="submit">submit</button>
    </form>
      </div>
</body>
</html>