<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODERS COMMUNITY</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--Get your own code at fontawesome.com-->
</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


</style>
<body>
        <div class="navbar">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
              <div class="logo">
              <img src="logo.png" alt="">
              </div>
              <p></p>
              <div class="menu-items">
                <li><a href="/recruiter">Sign in as Recruiter</a></li>
                <li><a href="/collaborator">Sign in as member</a></li>
                
            </div>
          </div>
        </div>
      </nav>
      </div>

      <div class="info">
        
        <div class="name">
            <h2>CODERS COMMUNITY</h2>
        </div>
        <div class="des">
            <p>Looking for skilled coders?</p>
            <p>Or Looking for on-Hands work?</p>
            <p>Join our community to build something new <b>Together</b></p>
        </div>
    <div class="signup">
        <a href="/signup">New to site? sign-up here</a>
    </div>
    
</body>
</html>